<script>Aloha = {};
Aloha.settings = { sidebar: { disabled: true } };</script>
<script type="text/javascript" src="http://cdn.aloha-editor.org/latest/lib/require.js"></script>

<!-- load the Aloha Editor core and some plugins -->
              <script src="http://cdn.aloha-editor.org/latest/lib/aloha.js"
                                   data-aloha-plugins="common/ui,
                                                        common/format,
                                                        common/list,
                                                        common/link,
                                                        common/contenthandler,
                                                        common/table,
                                                        common/image,
                                                        extra/draganddropfiles">
              </script>

              <!-- load the Aloha Editor CSS styles -->
              <link href="http://cdn.aloha-editor.org/latest/css/aloha.css" rel="stylesheet" type="text/css" />

              <!-- make all elements with class="editable" editable with Aloha Editor -->
              <script type="text/javascript">
                     Aloha.ready( function() {
                            var $ = Aloha.jQuery;
                            $('.editable').aloha();
                     });
              </script>

<!-- Modal -->
  <div class="modal fade delete" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Deploy now</h4>
        </div>
        <div class="modal-body">
          
        	<div class="input-group input-group-lg">
        		Deploy to:
			  <span class="input-group-addon">pyre.co/</span>
			  <input type="text" class="form-control input-lg" placeholder="site-name" id="url">
			</div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="save">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<div id="control-bar" class="delete" >
	<button type="button" id="deploy" data-toggle="modal" href="#myModal" class="btn btn-success btn-large">Deploy</button>
</div>


<div class="container" style="margin-top: 80px" class="contenteditable" contenteditable="false" id="edit">
<% @components.each do |component| %>
  <%= raw component.content unless component.nil? %>
<% end %>
</div>