
<%= stylesheet_link_tag 'style' %>
<%= stylesheet_link_tag 'bootstrap' %>
<%= stylesheet_link_tag 'main' %>

<div class="row" align="center" style="padding-top:75px"> 

  <img src="assets/logo.png" height="200px" width="75px" style="margin-bottom:-40px">

  <h1 style="color:#fff;font-size:96px;
  background: -webkit-linear-gradient(#fff, #eee);
  -webkit-background-clip: text;
  text-shadow: 0 1px 1px #000000;
  opacity: 0.9; margin-top: 50px">Pyre</h1>


  <p style="color:#fff;font-size:19px;
  background: -webkit-linear-gradient(#fff, #eee);
  -webkit-background-clip: text;
  text-shadow: 0 1px 1px #000000;
  opacity: 0.9; margin-top: 50px">Build and deploy a website in one sentence.</p>


</div>


<div class="row" style="padding-top:30px;padding-bottom:60px">
  
  <div class="col-lg-2">            
  </div>

  <div class="col-lg-8">
    <div class="padding_wrapper" style="margin-top:-20px">
      <div class="search_wrapper">
       

        
        <form class="search" id="intent" method="post" action="<%= generate_page_path %>">
          <button type="submit" class="question" style="color: #ffffff;">                                       
            Go! 
          </button>

          <input placeholder="What kind of website do you want to build?  " type="text" size="20" tabindex="1" id="where" name="q" autocomplete="off" autofocus="autofocus">              
          <i class="icon-cross clear_input"></i>
          <input type="hidden" name="from_home" value="1">

          <img id="loading" style="display:none" src="/media/i/ajax-loader-16px-grey.gif">
        </form>
      </div>
    </div>
  </div>


</div>
<div class="col-lg-2">
</div>

<div class="row" style="padding-top:30px" align="center">

  <span id="typed">
  </span>
</div>

</div>