@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

*{
	padding:0;
	margin:0;
}

body{
	font-family: "Helvetica Neue", sans-serif;
	font-size: 28px;
	color:#ffffff;
	background: -webkit-linear-gradient(#fff, #eee);
  	-webkit-background-clip: text;
  	text-shadow: 0 1px 1px #000000;
  	opacity: 0.9;

}

a{
	text-decoration: none;
	color:#666;
}
	a:hover{
		color:#999;
	}
p{
	line-height: 2em;
	margin:0 0 20px;
	text-align: center;
}
